<a href="https://colab.research.google.com/github/GauravVermaji/Flight-delay-prediction-project/blob/devlop/EDA_Flight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Jan_2019_ontime.csv
import pandas as pd
import numpy as np
import  matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [0]:
# read the csv Jan_2019_ontime.csv
flight_df = pd.read_csv("/content/drive/My Drive/Flight delay prediction/Data/Jan_2019_ontime.csv")

In [6]:
flight_df.head()

   DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID ORIGIN  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID DEST  DEP_TIME  DEP_DEL15 DEP_TIME_BLK  ARR_TIME  ARR_DEL15  CANCELLED  DIVERTED  DISTANCE  Unnamed: 21
0             1            2                9E                  20363         9E   N8688C               3280              11953                1195302    GNV            10397              1039707  ATL     601.0        0.0    0600-0659     722.0        0.0        0.0       0.0     300.0          NaN
1             1            2                9E                  20363         9E   N348PQ               3281              13487                1348702    MSP            11193              1119302  CVG    1359.0        0.0    1400-1459    1633.0        0.0        0.0       0.0     596.0          NaN
2             1            2                9E                  20363         9E   N8896A               3282              11433                1143302    DTW            11193              1119302  CVG    1215.0        0.0    1200-1259    1329.0        0.0        0.0       0.0     229.0          NaN
3             1            2                9E                  20363         9E   N8886A               3283              15249                1524906    TLH            10397              1039707  ATL    1521.0        0.0    1500-1559    1625.0        0.0        0.0       0.0     223.0          NaN
4             1            2                9E                  20363         9E   N8974C               3284              10397                1039707    ATL            11778              1177801  FSM    1847.0        0.0    1900-1959    1940.0        0.0        0.0       0.0     579.0          NaN

In [7]:
# clean the data 
# remove unnessasory columns
flight_df.DAY_OF_MONTH.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [8]:
int(flight_df.DEP_TIME[1])
# cast dep time in int

1359

In [0]:
# DEp time BLK
# 2 columns break start , end

In [0]:
# ARR_TIME cast in integer

In [0]:
# each flight duration

In [0]:
# https://towardsdatascience.com/exploratory-data-analysis-in-python-c9a77dfa39ce

In [9]:
len(flight_df.columns)

22

In [10]:
flight_df.shape

(583985, 22)

In [11]:
# Checking data types
flight_df.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
Unnamed: 21              float64
dtype: object

In [12]:
flight_df.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME', 'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED', 'DIVERTED', 'DISTANCE', 'Unnamed: 21'], dtype='object')

In [13]:
flight_df.drop('Unnamed: 21',axis=1,inplace=True)
flight_df.head()

   DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID ORIGIN  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID DEST  DEP_TIME  DEP_DEL15 DEP_TIME_BLK  ARR_TIME  ARR_DEL15  CANCELLED  DIVERTED  DISTANCE
0             1            2                9E                  20363         9E   N8688C               3280              11953                1195302    GNV            10397              1039707  ATL     601.0        0.0    0600-0659     722.0        0.0        0.0       0.0     300.0
1             1            2                9E                  20363         9E   N348PQ               3281              13487                1348702    MSP            11193              1119302  CVG    1359.0        0.0    1400-1459    1633.0        0.0        0.0       0.0     596.0
2             1            2                9E                  20363         9E   N8896A               3282              11433                1143302    DTW            11193              1119302  CVG    1215.0        0.0    1200-1259    1329.0        0.0        0.0       0.0     229.0
3             1            2                9E                  20363         9E   N8886A               3283              15249                1524906    TLH            10397              1039707  ATL    1521.0        0.0    1500-1559    1625.0        0.0        0.0       0.0     223.0
4             1            2                9E                  20363         9E   N8974C               3284              10397                1039707    ATL            11778              1177801  FSM    1847.0        0.0    1900-1959    1940.0        0.0        0.0       0.0     579.0

In [17]:
#Checking for NAN values in column arrival time
na_val=flight_df['ARR_TIME'].isnull().sum()
print ('Count of NaN: ',na_val)

Count of NaN:  17061

In [15]:
# checking Null values in each column
null_columns=flight_df.columns[flight_df.isnull().any()]
flight_df[null_columns].isnull().sum()

TAIL_NUM      2543
DEP_TIME     16352
DEP_DEL15    16355
ARR_TIME     17061
ARR_DEL15    18022
dtype: int64

In [32]:
flight_df.describe(include='all')

         DAY_OF_MONTH    DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID  ORIGIN  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID    DEST       DEP_TIME      DEP_DEL15 DEP_TIME_BLK       ARR_TIME      ARR_DEL15      CANCELLED       DIVERTED       DISTANCE
count   583985.000000  583985.000000            583985          583985.000000     583985   581442      583985.000000      583985.000000           5.839850e+05  583985    583985.000000         5.839850e+05  583985  567633.000000  567630.000000       583985  566924.000000  565963.000000  583985.000000  583985.000000  583985.000000
unique            NaN            NaN                17                    NaN         17     5446                NaN                NaN                    NaN     346              NaN                  NaN     346            NaN            NaN           19            NaN            NaN            NaN            NaN            NaN
top               NaN            NaN                WN                    NaN         WN   N488HA                NaN                NaN                    NaN     ATL              NaN                  NaN     ATL            NaN            NaN    0600-0659            NaN            NaN            NaN            NaN            NaN
freq              NaN            NaN            111312                    NaN     111312      361                NaN                NaN                    NaN   31155              NaN                  NaN   31151            NaN            NaN        41971            NaN            NaN            NaN            NaN            NaN
mean        15.960088       3.835626               NaN           19983.213168        NaN      NaN        2537.869334       12659.701982           1.265974e+06     NaN     12659.470015         1.265951e+06     NaN    1331.957814       0.174281          NaN    1484.315921       0.185917       0.028641       0.002219     797.742767
std          8.987942       1.921899               NaN             377.724638        NaN      NaN        1821.736145        1519.405493           1.519403e+05     NaN      1519.336466         1.519334e+05     NaN     495.404020       0.379351          NaN     523.162855       0.389040       0.166796       0.047056     589.999261
min          1.000000       1.000000               NaN           19393.000000        NaN      NaN           1.000000       10135.000000           1.013505e+06     NaN     10135.000000         1.013505e+06     NaN       1.000000       0.000000          NaN       1.000000       0.000000       0.000000       0.000000      31.000000
25%          8.000000       2.000000               NaN           19790.000000        NaN      NaN         979.000000       11292.000000           1.129202e+06     NaN     11292.000000         1.129202e+06     NaN     921.000000       0.000000          NaN    1104.000000       0.000000       0.000000       0.000000     363.000000
50%         16.000000       4.000000               NaN           19977.000000        NaN      NaN        2114.000000       12889.000000           1.288903e+06     NaN     12889.000000         1.288903e+06     NaN    1328.000000       0.000000          NaN    1517.000000       0.000000       0.000000       0.000000     640.000000
75%         24.000000       5.000000               NaN           20368.000000        NaN      NaN        3902.000000       13931.000000           1.393102e+06     NaN     13931.000000         1.393102e+06     NaN    1738.000000       0.000000          NaN    1919.000000       0.000000       0.000000       0.000000    1037.000000
max         31.000000       7.000000               NaN           20452.000000        NaN      NaN        7439.000000       16218.000000           1.621802e+06     NaN     16218.000000         1.621802e+06     NaN    2400.000000       1.000000          NaN    2400.000000       1.000000       1.000000       1.000000    4983.000000

In [40]:
# duplicate rows
dup_row=flight_df[flight_df.duplicated]
print("duplicate rows:",dup_row.shape)

KeyError: ignored

In [37]:
flight_df.shape

(583985, 21)