<a href="https://colab.research.google.com/github/GauravVermaji/Flight-delay-prediction-project/blob/devlop/EDA_Flight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
# Jan_2019_ontime.csv
import pandas as pd
import numpy as np
import  matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
# read the csv Jan_2019_ontime.csv
flight_df = pd.read_csv("/content/drive/My Drive/Flight delay prediction/Data/Jan_2019_ontime.csv")

In [4]:
flight_df.head()

   DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID ORIGIN  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID DEST  DEP_TIME  DEP_DEL15 DEP_TIME_BLK  ARR_TIME  ARR_DEL15  CANCELLED  DIVERTED  DISTANCE  Unnamed: 21
0             1            2                9E                  20363         9E   N8688C               3280              11953                1195302    GNV            10397              1039707  ATL     601.0        0.0    0600-0659     722.0        0.0        0.0       0.0     300.0          NaN
1             1            2                9E                  20363         9E   N348PQ               3281              13487                1348702    MSP            11193              1119302  CVG    1359.0        0.0    1400-1459    1633.0        0.0        0.0       0.0     596.0          NaN
2             1            2                9E                  20363         9E   N8896A               3282              11433                1143302    DTW            11193              1119302  CVG    1215.0        0.0    1200-1259    1329.0        0.0        0.0       0.0     229.0          NaN
3             1            2                9E                  20363         9E   N8886A               3283              15249                1524906    TLH            10397              1039707  ATL    1521.0        0.0    1500-1559    1625.0        0.0        0.0       0.0     223.0          NaN
4             1            2                9E                  20363         9E   N8974C               3284              10397                1039707    ATL            11778              1177801  FSM    1847.0        0.0    1900-1959    1940.0        0.0        0.0       0.0     579.0          NaN

In [5]:
# clean the data 
# remove unnessasory columns
flight_df.DAY_OF_MONTH.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [6]:
int(flight_df.DEP_TIME[1])
# cast dep time in int

1359

In [ ]:
# DEp time BLK
# 2 columns break start , end

In [ ]:
# ARR_TIME cast in integer

In [ ]:
# each flight duration

In [ ]:
# https://towardsdatascience.com/exploratory-data-analysis-in-python-c9a77dfa39ce

In [7]:
len(flight_df.columns)

22

In [8]:
flight_df.shape

(583985, 22)

In [9]:
# Checking data types
flight_df.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
Unnamed: 21              float64
dtype: object

In [10]:
flight_df.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME', 'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED', 'DIVERTED', 'DISTANCE', 'Unnamed: 21'], dtype='object')

In [11]:
flight_df.drop('Unnamed: 21',axis=1,inplace=True)
flight_df.head()

   DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID ORIGIN  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID DEST  DEP_TIME  DEP_DEL15 DEP_TIME_BLK  ARR_TIME  ARR_DEL15  CANCELLED  DIVERTED  DISTANCE
0             1            2                9E                  20363         9E   N8688C               3280              11953                1195302    GNV            10397              1039707  ATL     601.0        0.0    0600-0659     722.0        0.0        0.0       0.0     300.0
1             1            2                9E                  20363         9E   N348PQ               3281              13487                1348702    MSP            11193              1119302  CVG    1359.0        0.0    1400-1459    1633.0        0.0        0.0       0.0     596.0
2             1            2                9E                  20363         9E   N8896A               3282              11433                1143302    DTW            11193              1119302  CVG    1215.0        0.0    1200-1259    1329.0        0.0        0.0       0.0     229.0
3             1            2                9E                  20363         9E   N8886A               3283              15249                1524906    TLH            10397              1039707  ATL    1521.0        0.0    1500-1559    1625.0        0.0        0.0       0.0     223.0
4             1            2                9E                  20363         9E   N8974C               3284              10397                1039707    ATL            11778              1177801  FSM    1847.0        0.0    1900-1959    1940.0        0.0        0.0       0.0     579.0

In [12]:
#Checking for NAN values in column arrival time
na_val=flight_df['ARR_TIME'].isnull().sum()
print ('Count of NaN: ',na_val)

Count of NaN:  17061

In [13]:
# checking Null values in each column
null_columns=flight_df.columns[flight_df.isnull().any()]
flight_df[null_columns].isnull().sum()

TAIL_NUM      2543
DEP_TIME     16352
DEP_DEL15    16355
ARR_TIME     17061
ARR_DEL15    18022
dtype: int64

In [14]:
flight_df.describe(include='all')

         DAY_OF_MONTH    DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID  ORIGIN  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID    DEST       DEP_TIME      DEP_DEL15 DEP_TIME_BLK       ARR_TIME      ARR_DEL15      CANCELLED       DIVERTED       DISTANCE
count   583985.000000  583985.000000            583985          583985.000000     583985   581442      583985.000000      583985.000000           5.839850e+05  583985    583985.000000         5.839850e+05  583985  567633.000000  567630.000000       583985  566924.000000  565963.000000  583985.000000  583985.000000  583985.000000
unique            NaN            NaN                17                    NaN         17     5446                NaN                NaN                    NaN     346              NaN                  NaN     346            NaN            NaN           19            NaN            NaN            NaN            NaN            NaN
top               NaN            NaN                WN                    NaN         WN   N488HA                NaN                NaN                    NaN     ATL              NaN                  NaN     ATL            NaN            NaN    0600-0659            NaN            NaN            NaN            NaN            NaN
freq              NaN            NaN            111312                    NaN     111312      361                NaN                NaN                    NaN   31155              NaN                  NaN   31151            NaN            NaN        41971            NaN            NaN            NaN            NaN            NaN
mean        15.960088       3.835626               NaN           19983.213168        NaN      NaN        2537.869334       12659.701982           1.265974e+06     NaN     12659.470015         1.265951e+06     NaN    1331.957814       0.174281          NaN    1484.315921       0.185917       0.028641       0.002219     797.742767
std          8.987942       1.921899               NaN             377.724638        NaN      NaN        1821.736145        1519.405493           1.519403e+05     NaN      1519.336466         1.519334e+05     NaN     495.404020       0.379351          NaN     523.162855       0.389040       0.166796       0.047056     589.999261
min          1.000000       1.000000               NaN           19393.000000        NaN      NaN           1.000000       10135.000000           1.013505e+06     NaN     10135.000000         1.013505e+06     NaN       1.000000       0.000000          NaN       1.000000       0.000000       0.000000       0.000000      31.000000
25%          8.000000       2.000000               NaN           19790.000000        NaN      NaN         979.000000       11292.000000           1.129202e+06     NaN     11292.000000         1.129202e+06     NaN     921.000000       0.000000          NaN    1104.000000       0.000000       0.000000       0.000000     363.000000
50%         16.000000       4.000000               NaN           19977.000000        NaN      NaN        2114.000000       12889.000000           1.288903e+06     NaN     12889.000000         1.288903e+06     NaN    1328.000000       0.000000          NaN    1517.000000       0.000000       0.000000       0.000000     640.000000
75%         24.000000       5.000000               NaN           20368.000000        NaN      NaN        3902.000000       13931.000000           1.393102e+06     NaN     13931.000000         1.393102e+06     NaN    1738.000000       0.000000          NaN    1919.000000       0.000000       0.000000       0.000000    1037.000000
max         31.000000       7.000000               NaN           20452.000000        NaN      NaN        7439.000000       16218.000000           1.621802e+06     NaN     16218.000000         1.621802e+06     NaN    2400.000000       1.000000          NaN    2400.000000       1.000000       1.000000       1.000000    4983.000000

In [15]:
#rows that contains null values
print(flight_df[flight_df.isnull().any(axis=1)].head(20))

      DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID ORIGIN  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID DEST  DEP_TIME  DEP_DEL15 DEP_TIME_BLK  ARR_TIME  ARR_DEL15  CANCELLED  DIVERTED  DISTANCE
397              1            2                AA                  19805         AA   N965NN                178              14027                1402702    PBI            13930              1393007  ORD       NaN        NaN    0600-0659       NaN        NaN        1.0       0.0    1143.0
403              1            2                AA                  19805         AA   N9015D                189              11503                1150305    EGE            11298              1129806  DFW       NaN        NaN    0700-0759       NaN        NaN        1.0       0.0     721.0
971              1            2                OH                  20397         OH   N572NN               5103              11057                1105703    CLT            14193              1419306  PNS    1953.0        0.0    1900-1959       NaN        NaN        1.0       0.0     488.0
1250             1            2                B6                  20409         B6   N613JB                358              10800                1080003    BUR            12478              1247805  JFK    2203.0        0.0    2100-2159     709.0        NaN        0.0       1.0    2465.0
1633             1            2                B6                  20409         B6   N184JB               1210              12451                1245102    JAX            10721              1072102  BOS    1201.0        0.0    1200-1259    1810.0        NaN        0.0       1.0    1010.0
1866             1            2                B6                  20409         B6   N627JB               2338              10800                1080003    BUR            10721              1072102  BOS    2040.0        1.0    2000-2059     610.0        NaN        0.0       1.0    2601.0
1868             1            2                B6                  20409         B6   N709JB               2358              10800                1080003    BUR            12478              1247805  JFK    1500.0        1.0    1400-1459      43.0        NaN        0.0       1.0    2465.0
1879             1            2                B6                  20409         B6   N999JB               2451              10721                1072102    BOS            13204              1320402  MCO     934.0        0.0    0900-0959    1456.0        NaN        0.0       1.0    1121.0
1973             1            2                EV                  20366         EV   N17984               4187              12448                1244807    JAN            12266              1226603  IAH       NaN        NaN    0900-0959       NaN        NaN        1.0       0.0     351.0
1975             1            2                EV                  20366         EV   N17984               4189              12266                1226603    IAH            12448              1244807  JAN       NaN        NaN    0700-0759       NaN        NaN        1.0       0.0     351.0
1976             1            2                EV                  20366         EV   N16561               4190              12266                1226603    IAH            11481              1148102  ECP       NaN        NaN    1900-1959       NaN        NaN        1.0       0.0     572.0
1980             1            2                EV                  20366         EV   N14977               4197              14814                1481402    SHV            12266              1226603  IAH       NaN        NaN    0700-0759       NaN        NaN        1.0       0.0     192.0
1982             1            2                EV                  20366         EV   N11535               4199              14492                1449202    RDU            11618              1161802  EWR       NaN        NaN    1600-1659       NaN        NaN        1.0       0.0     416.0
2007             1            2                EV                  20366         EV   N11535               4228              11618                1161802    EWR            14492              1449202  RDU       NaN        NaN    1400-1459       NaN        NaN        1.0       0.0     416.0
2018             1            2                EV                  20366         EV   N13992               4242              12266                1226603    IAH            15016              1501606  STL    1829.0        0.0    1800-1859       NaN        NaN        1.0       0.0     667.0
3130             1            2                OO                  20304         OO   N765SK               2960              12892                1289208    LAX            14679              1467903  SAN       NaN        NaN    0700-0759       NaN        NaN        1.0       0.0     109.0
3131             1            2                OO                  20304         OO   N765SK               2960              14679                1467903    SAN            12892              1289208  LAX       NaN        NaN    0900-0959       NaN        NaN        1.0       0.0     109.0
3173             1            2                OO                  20304         OO   N755EV               2999              10747                1074706    BRO            11298              1129806  DFW       NaN        NaN    1100-1159       NaN        NaN        1.0       0.0     482.0
3174             1            2                OO                  20304         OO   N755EV               2999              11298                1129806    DFW            10747              1074706  BRO       NaN        NaN    0900-0959       NaN        NaN        1.0       0.0     482.0
3221             1            2                OO                  20304         OO   N750EV               3048              13851                1385103    OKC            13930              1393007  ORD       NaN        NaN    1600-1659       NaN        NaN        1.0       0.0     693.0

In [16]:
print(flight_df[flight_df["TAIL_NUM"].isnull()].head(30))

       DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID OP_CARRIER TAIL_NUM  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID ORIGIN  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID DEST  DEP_TIME  DEP_DEL15 DEP_TIME_BLK  ARR_TIME  ARR_DEL15  CANCELLED  DIVERTED  DISTANCE
11084             1            2                YV                  20378         YV      NaN               5975              11775                1177502    FSD            11298              1129806  DFW       NaN        NaN    0700-0759       NaN        NaN        1.0       0.0     737.0
17776             1            2                YV                  20378         YV      NaN               5758              10140                1014005    ABQ            14107              1410702  PHX       NaN        NaN    0800-0859       NaN        NaN        1.0       0.0     328.0
53853             3            4                YX                  20452         YX      NaN               4629              13851                1385103    OKC            14100              1410005  PHL       NaN        NaN    0001-0559       NaN        NaN        1.0       0.0    1261.0
56065             3            4                YV                  20378         YV      NaN               5909              13422                1342202    MOB            11298              1129806  DFW       NaN        NaN    0600-0659       NaN        NaN        1.0       0.0     539.0
64336             4            5                WN                  19393         WN      NaN                955              13851                1385103    OKC            11278              1127805  DCA       NaN        NaN    0700-0759       NaN        NaN        1.0       0.0    1158.0
64338             4            5                WN                  19393         WN      NaN               1899              13851                1385103    OKC            11292              1129202  DEN       NaN        NaN    0600-0659       NaN        NaN        1.0       0.0     495.0
64343             4            5                WN                  19393         WN      NaN               1451              13851                1385103    OKC            12191              1219102  HOU       NaN        NaN    0001-0559       NaN        NaN        1.0       0.0     419.0
64345             4            5                WN                  19393         WN      NaN               2256              13851                1385103    OKC            12889              1288903  LAS       NaN        NaN    0700-0759       NaN        NaN        1.0       0.0     986.0
64347             4            5                WN                  19393         WN      NaN               1549              13851                1385103    OKC            14107              1410702  PHX       NaN        NaN    0800-0859       NaN        NaN        1.0       0.0     833.0
64349             4            5                WN                  19393         WN      NaN                377              13851                1385103    OKC            15016              1501606  STL       NaN        NaN    0600-0659       NaN        NaN        1.0       0.0     462.0
79224             5            6                AA                  19805         AA      NaN                 34              13851                1385103    OKC            14831              1483106  SJC       NaN        NaN    1100-1159       NaN        NaN        1.0       0.0    1359.0
80509             5            6                YX                  20452         YX      NaN               4688              12124                1212402    HHH            11057              1105703  CLT       NaN        NaN    0600-0659       NaN        NaN        1.0       0.0     207.0
81801             5            6                AA                  19805         AA      NaN               1213              11298                1129806    DFW            13851              1385103  OKC       NaN        NaN    0900-0959       NaN        NaN        1.0       0.0     175.0
82600             5            6                OO                  20304         OO      NaN               3406              14771                1477104    SFO            11259              1125904  DAL       NaN        NaN    1100-1159       NaN        NaN        1.0       0.0    1476.0
82654             5            6                OO                  20304         OO      NaN               3488              14771                1477104    SFO            14908              1490803  SNA       NaN        NaN    1300-1359       NaN        NaN        1.0       0.0     372.0
90178             5            6                UA                  19977         UA      NaN                633              13204                1320402    MCO            13930              1393007  ORD       NaN        NaN    1200-1259       NaN        NaN        1.0       0.0    1005.0
98896             6            7                UA                  19977         UA      NaN               2407              11503                1150305    EGE            12264              1226402  IAD       NaN        NaN    1600-1659       NaN        NaN        1.0       0.0    1573.0
98941             6            7                UA                  19977         UA      NaN               2341              14771                1477104    SFO            11042              1104205  CLE       NaN        NaN    2200-2259       NaN        NaN        1.0       0.0    2161.0
98951             6            7                UA                  19977         UA      NaN               2331              14679                1467903    SAN            14771              1477104  SFO       NaN        NaN    1700-1759       NaN        NaN        1.0       0.0     447.0
98983             6            7                UA                  19977         UA      NaN               2283              14771                1477104    SFO            14570              1457002  RNO       NaN        NaN    1000-1059       NaN        NaN        1.0       0.0     192.0
99012             6            7                UA                  19977         UA      NaN               2242              14771                1477104    SFO            11292              1129202  DEN       NaN        NaN    1500-1559       NaN        NaN        1.0       0.0     967.0
99172             6            7                UA                  19977         UA      NaN               2070              14771                1477104    SFO            12339              1233904  IND       NaN        NaN    1600-1659       NaN        NaN        1.0       0.0    1943.0
99187             6            7                UA                  19977         UA      NaN               2055              14771                1477104    SFO            14057              1405702  PDX       NaN        NaN    1200-1259       NaN        NaN        1.0       0.0     550.0
99189             6            7                UA                  19977         UA      NaN               2052              14771                1477104    SFO            11603              1160302  EUG       NaN        NaN    2100-2159       NaN        NaN        1.0       0.0     451.0
99191             6            7                UA                  19977         UA      NaN               2050              14771                1477104    SFO            12264              1226402  IAD       NaN        NaN    2100-2159       NaN        NaN        1.0       0.0    2419.0
99192             6            7                UA                  19977         UA      NaN               2049              12892                1289208    LAX            11292              1129202  DEN       NaN        NaN    1000-1059       NaN        NaN        1.0       0.0     862.0
99208             6            7                UA                  19977         UA      NaN               2034              13930                1393007    ORD            11503              1150305  EGE       NaN        NaN    1200-1259       NaN        NaN        1.0       0.0    1007.0
99221             6            7                UA                  19977         UA      NaN               2015              11292                1129202    DEN            14771              1477104  SFO       NaN        NaN    2200-2259       NaN        NaN        1.0       0.0     967.0
99324             6            7                UA                  19977         UA      NaN               1893              12264                1226402    IAD            14771              1477104  SFO       NaN        NaN    1900-1959       NaN        NaN        1.0       0.0    2419.0
99325             6            7                UA                  19977         UA      NaN               1892              12266                1226603    IAH            11503              1150305  EGE       NaN        NaN    1100-1159       NaN        NaN        1.0       0.0     934.0

In [17]:
flight_df.count(axis='rows')

DAY_OF_MONTH             583985
DAY_OF_WEEK              583985
OP_UNIQUE_CARRIER        583985
OP_CARRIER_AIRLINE_ID    583985
OP_CARRIER               583985
TAIL_NUM                 581442
OP_CARRIER_FL_NUM        583985
ORIGIN_AIRPORT_ID        583985
ORIGIN_AIRPORT_SEQ_ID    583985
ORIGIN                   583985
DEST_AIRPORT_ID          583985
DEST_AIRPORT_SEQ_ID      583985
DEST                     583985
DEP_TIME                 567633
DEP_DEL15                567630
DEP_TIME_BLK             583985
ARR_TIME                 566924
ARR_DEL15                565963
CANCELLED                583985
DIVERTED                 583985
DISTANCE                 583985
dtype: int64

In [18]:
#flight takes off on the basis of tail_no in january month
flight_df.set_index(["DAY_OF_MONTH","TAIL_NUM"]).count(level="TAIL_NUM")

          DAY_OF_WEEK  OP_UNIQUE_CARRIER  OP_CARRIER_AIRLINE_ID  OP_CARRIER  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID  ORIGIN  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID  DEST  DEP_TIME  DEP_DEL15  DEP_TIME_BLK  ARR_TIME  ARR_DEL15  CANCELLED  DIVERTED  DISTANCE
TAIL_NUM
215NV             115                115                    115         115                115                115                    115     115              115                  115   115       115        115           115       114        114        115       115       115
216NV             103                103                    103         103                103                103                    103     103              103                  103   103       103        103           103       103        102        103       103       103
217NV             118                118                    118         118                118                118                    118     118              118                  118   118       118        118           118       118        118        118       118       118
218NV              88                 88                     88          88                 88                 88                     88      88               88                   88    88        88         88            88        88         88         88        88        88
219NV              65                 65                     65          65                 65                 65                     65      65               65                   65    65        65         65            65        65         65         65        65        65
...               ...                ...                    ...         ...                ...                ...                    ...     ...              ...                  ...   ...       ...        ...           ...       ...        ...        ...       ...       ...
N998DL            141                141                    141         141                141                141                    141     141              141                  141   141       139        139           141       139        139        141       141       141
N998JB             75                 75                     75          75                 75                 75                     75      75               75                   75    75        70         70            75        70         70         75        75        75
N998NN            100                100                    100         100                100                100                    100     100              100                  100   100        94         94           100        94         94        100       100       100
N999DN            141                141                    141         141                141                141                    141     141              141                  141   141       139        139           141       139        139        141       141       141
N999JB             76                 76                     76          76                 76                 76                     76      76               76                   76    76        75         75            76        75         74         76        76        76

[5446 rows x 19 columns]

In [19]:
flight_df['TAIL_NUM'].count()

581442

In [20]:
#flights take off in week
flight_df.groupby('DAY_OF_WEEK').count()[['TAIL_NUM']]

             TAIL_NUM
DAY_OF_WEEK
1               78904
2               92561
3               96303
4               98886
5               79635
6               62084
7               73069

In [21]:
#Problem 3: Flights taken off on the basis of unique carrier
unq_car=flight_df.groupby('OP_UNIQUE_CARRIER').count()[['CANCELLED','TAIL_NUM']]
unq_car

                   CANCELLED  TAIL_NUM
OP_UNIQUE_CARRIER
9E                     20198     20198
AA                     77017     77015
AS                     20744     20744
B6                     24443     24443
DL                     73836     73836
EV                     13195     13062
F9                      9647      9508
G4                      6763      6745
HA                      6798      6791
MQ                     25699     25696
NK                     15222     15222
OH                     23169     22930
OO                     64926     64863
UA                     46915     46233
WN                    111312    110178
YV                     18346     18318
YX                     25755     25660

In [22]:
# Problem 4: Different airlines in data
flight_df.OP_CARRIER_AIRLINE_ID.nunique(dropna=True)

17

In [24]:
# Problem 4: Another Solution
diff_airlines=flight_df['OP_CARRIER_AIRLINE_ID'].unique().tolist()
print("Different Airlines in data:",diff_airlines,"\nNo. of Airlines:",len(diff_airlines))

Different Airlines in data: [20363, 19805, 20398, 20368, 20397, 20409, 20378, 20366, 20436, 20452, 19690, 20416, 20304, 19393, 19930, 19977, 19790]
No. of Airlines: 17

In [25]:
#problem 5: unique values in whole data
unq_val=(flight_df['OP_CARRIER_AIRLINE_ID'].append(flight_df['TAIL_NUM'])).unique()
unq_val

array([20363, 19805, 20398, ..., 'N8847A', 'N818NW', 'N15969'],
      dtype=object)

In [28]:
for c in flight_df.columns:
  un=flight_df[c].unique()
  print(un)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
[2 3 4 5 6 7 1]
['9E' 'AA' 'MQ' 'G4' 'OH' 'B6' 'YV' 'EV' 'F9' 'YX' 'HA' 'NK' 'OO' 'WN'
 'AS' 'UA' 'DL']
[20363 19805 20398 20368 20397 20409 20378 20366 20436 20452 19690 20416
 20304 19393 19930 19977 19790]
['9E' 'AA' 'MQ' 'G4' 'OH' 'B6' 'YV' 'EV' 'F9' 'YX' 'HA' 'NK' 'OO' 'WN'
 'AS' 'UA' 'DL']
['N8688C' 'N348PQ' 'N8896A' ... 'N8847A' 'N818NW' 'N15969']
[3280 3281 3282 ... 6946 6778 6779]
[11953 13487 11433 15249 10397 11267 12448 12953 12451 10685 10874 14100
 12478 10208 12992 12339 11624 10868 11203 15323 10721 13277 13230 13342
 15380 11778 10599 14108 11193 12007 14730 10693 14683 12951 13485 11423
 11612 10135 11278 10821 12323 15412 12945 11042 11537 11617 14098 14814
 11150 15370 10529 11298 14524 14457 14122 11146 11973 10980 13871 12264
 14492 14685 11986 10785 12884 13795 10185 10990 10994 12206 13931 13433
 12217 13204 10781 12892 13930 14107 13303 11066 14771 14747 15016 11057
 12889 13796 10792 11697 14843 10257 14321 14893 13296 15304 11503 13830
 12173 13495 12266 12758 11292 14679 15376 14831 14027 14908 11980 14869
 11638 11618 12441 13198 14193 11540 10423 10140 14262 13244 14057 10155
 10136 11415 11995 10620 10434 11049 11003 11140 11982 10469 15411 11637
 11996 13256 10279 15074 13502 12891 15919 11067 13290 14783 10431 10466
 14082 14761 14986 14112 10676 14025 10666 12544 14696 10581 11721 12265
 12280 10627 11898 14307 13360 15295 13577 13422 12197 11641 15096 10361
 12244 12954 14570 14635 14576 12191 15027 13891 10800 15070 11252 10732
 14254 13933 15024 15624 12278 13851 12896 13061 10747 12177 14689 15356
 11109 14259 12391 10849 12982 12402 11481 12124 12898 10158 11695 10372
 12094 14489 16218 11977 11921 11775 11823 14588 10408 10561 11603 14674
 13264 12511 14794 11233 13241 14109 10713 11259 15023 14698 13476 11884
 14633 15607 13184 15041 14252 13367 11648 11337 11577 11308 10146 10731
 13232 12003 13076 11587 11122 14711 12156 13029 12389 13377 13486 14574
 11076 11471 13121 14802 13344 12255 14877 11468 15454 11027 14543 14288
 14006 10967 15582 11092 12902 10558 14952 11447 12519 12888 14237 11865
 12899 10157 14487 13964 13388 13158 11097 13127 14113 13459 10141 10333
 14150 10631 10739 10779 10918 11013 11525 12335 15389 12129 14520 10577
 12397 12343 14842 11905 15048 15401 10268 11274 10170 10299 10551 10754
 14709 11630 12819 12523 14828 15841 14256 13873 13970 12915 12917 12223
 12012 14960 11111 10728 11413 12016 14955 14716 14314 14512 11867 15008
 14905 15991 10926 10165 12119 13983 13832 14222 13829 13139]
[1195302 1348702 1143302 1524906 1039707 1126702 1244807 1295304 1245102
 1068502 1087402 1410005 1247805 1020803 1299206 1233904 1162402 1086803
 1120302 1532305 1072102 1327702 1323002 1334207 1538005 1177801 1059904
 1410803 1119302 1200704 1473003 1069302 1468305 1295106 1348502 1142307
 1161206 1013505 1127805 1082106 1232305 1541205 1294503 1104205 1153705
 1161708 1409803 1481402 1115005 1537002 1052906 1129806 1452401 1445702
 1412202 1114606 1197302 1098002 1387102 1226402 1449202 1468502 1198603
 1078502 1288403 1379502 1018502 1099005 1099402 1220605 1393102 1343302
 1221702 1320402 1078105 1289208 1393007 1410702 1330303 1106606 1477104
 1474703 1501606 1105703 1288903 1379608 1079206 1169706 1484306 1025702
 1432105 1489302 1329604 1530402 1150305 1383002 1217305 1349505 1226603
 1275804 1129202 1467903 1537604 1483106 1402702 1490803 1198002 1486903
 1163807 1161802 1244102 1319801 1419306 1154005 1042302 1014005 1426204
 1324402 1405702 1015502 1013603 1141501 1199502 1062003 1043405 1104902
 1100303 1114008 1198202 1046902 1541106 1163703 1199603 1325602 1027903
 1507402 1350202 1289102 1591904 1106702 1329002 1478302 1043105 1046602
 1408202 1476106 1498603 1411206 1067602 1402501 1066602 1254403 1469608
 1058102 1172105 1226505 1228002 1062702 1189802 1430705 1336003 1529502
 1357702 1342202 1219702 1164102 1509602 1036105 1224403 1295407 1457002
 1463502 1457606 1219102 1502704 1389101 1080003 1507002 1125203 1073203
 1425404 1393305 1502403 1562404 1227805 1385103 1289607 1306106 1074706
 1217705 1468902 1535602 1110902 1425902 1239103 1084905 1298202 1240203
 1148102 1212402 1289806 1015804 1169502 1037205 1209402 1448902 1621802
 1197705 1192102 1177502 1182304 1458804 1040805 1056103 1160302 1467402
 1326403 1251103 1479405 1123302 1324102 1410902 1071302 1125904 1502305
 1469802 1347605 1188402 1463303 1560702 1318403 1504102 1425202 1336705
 1164802 1133703 1157706 1130802 1014602 1073103 1323202 1200305 1307605
 1158702 1112205 1471105 1215605 1302902 1238902 1337702 1348602 1457405
 1107602 1147103 1312102 1480202 1334403 1225502 1487706 1146802 1545405
 1102705 1454303 1428805 1400602 1096702 1558203 1109203 1290205 1055803
 1495203 1144705 1251902 1288802 1423705 1186502 1289902 1015706 1448702
 1396403 1338801 1315805 1109702 1312702 1411302 1345903 1014106 1033302
 1415002 1063104 1073907 1077902 1091802 1101303 1152505 1233502 1538902
 1212903 1452002 1057705 1239702 1234305 1484202 1190502 1504803 1540103
 1026802 1127402 1017004 1029906 1055102 1075405 1470904 1163002 1281902
 1252306 1482805 1584102 1425605 1387305 1397005 1291503 1291703 1222305
 1201205 1496002 1111105 1072804 1141306 1201602 1495503 1471602 1431402
 1451202 1186703 1500803 1490505 1599102 1092603 1016506 1211902 1398305
 1383205 1422206 1382902 1313902]
['GNV' 'MSP' 'DTW' 'TLH' 'ATL' 'DAY' 'JAN' 'LGA' 'JAX' 'BMI' 'CAK' 'PHL'
 'JFK' 'AGS' 'LIT' 'IND' 'EYW' 'CAE' 'CWA' 'TRI' 'BOS' 'MGM' 'MDT' 'MKE'
 'TVC' 'FSM' 'BHM' 'PIA' 'CVG' 'GTR' 'SDF' 'BNA' 'SAT' 'LFT' 'MSN' 'DSM'
 'EVV' 'ABE' 'DCA' 'BWI' 'ILM' 'TYS' 'LEX' 'CLE' 'ELM' 'EWN' 'PHF' 'SHV'
 'CSG' 'TUL' 'BDL' 'DFW' 'RIC' 'RAP' 'PIT' 'CRW' 'GPT' 'CHA' 'OMA' 'IAD'
 'RDU' 'SAV' 'GRR' 'BTV' 'LAN' 'OAJ' 'AEX' 'CHO' 'CHS' 'HRL' 'ORF' 'MOT'
 'HSV' 'MCO' 'BTR' 'LAX' 'ORD' 'PHX' 'MIA' 'CMH' 'SFO' 'SEA' 'STL' 'CLT'
 'LAS' 'OAK' 'BUF' 'FLL' 'SJU' 'ALB' 'PWM' 'SMF' 'MHT' 'TPA' 'EGE' 'OGG'
 'HNL' 'MSY' 'IAH' 'KOA' 'DEN' 'SAN' 'TUS' 'SJC' 'PBI' 'SNA' 'GRI' 'SLC'
 'FAT' 'EWR' 'JAC' 'MCI' 'PNS' 'ELP' 'AUS' 'ABQ' 'PSP' 'MEM' 'PDX' 'ACT'
 'ABI' 'DRT' 'GSO' 'BIL' 'AVP' 'CLL' 'CID' 'CRP' 'GRK' 'AZO' 'TYR' 'FAR'
 'GSP' 'MFE' 'AMA' 'SWO' 'MTJ' 'LAW' 'XNA' 'CMI' 'MHK' 'SGF' 'AVL' 'AZA'
 'PGD' 'SFB' 'SRQ' 'PIE' 'BLV' 'PBG' 'BLI' 'USA' 'SBN' 'BGR' 'FNT' 'IAG'
 'IDA' 'BIS' 'GFK' 'PVD' 'MLB' 'TOL' 'MYR' 'MOB' 'HPN' 'FAY' 'SYR' 'ART'
 'HVN' 'LGB' 'RNO' 'RSW' 'ROC' 'HOU' 'STX' 'ONT' 'BUR' 'SWF' 'DAB' 'BQN'
 'PSE' 'ORH' 'STT' 'VPS' 'ICT' 'OKC' 'LBB' 'LRD' 'BRO' 'HOB' 'SBA' 'TTN'
 'COS' 'PSM' 'ISP' 'BZN' 'LIH' 'ITO' 'ECP' 'HHH' 'LBE' 'ACY' 'FLG' 'ASE'
 'HDN' 'RDM' 'YUM' 'GRB' 'GJT' 'FSD' 'FWA' 'ROW' 'ATW' 'BFL' 'EUG' 'SAF'
 'MFR' 'JLN' 'SGU' 'CYS' 'MEI' 'PIB' 'BOI' 'DAL' 'STS' 'SBP' 'MRY' 'GEG'
 'RST' 'VLD' 'MBS' 'SUN' 'PSC' 'MLI' 'FCA' 'DLH' 'ERI' 'DHN' 'ABY' 'BQK'
 'MDW' 'GTF' 'LSE' 'ESC' 'CPR' 'SCE' 'HLN' 'LNK' 'ISN' 'MLU' 'MSO' 'ROA'
 'CMX' 'EAU' 'LWB' 'SHD' 'MKG' 'HYS' 'SLN' 'EAR' 'UIN' 'CKB' 'RKS' 'PUB'
 'PAH' 'CGI' 'VEL' 'CNY' 'LBL' 'BFF' 'SPI' 'DVL' 'JMS' 'LAR' 'PRC' 'GCC'
 'LBF' 'ACV' 'RDD' 'OTH' 'MMH' 'MAF' 'COD' 'LWS' 'PIH' 'MQT' 'ABR' 'APN'
 'PLN' 'BJI' 'BRD' 'BTM' 'CDC' 'CIU' 'EKO' 'IMT' 'TWF' 'HIB' 'RHI' 'BGM'
 'ITH' 'INL' 'SJT' 'GGG' 'SUX' 'TXK' 'ALO' 'DBQ' 'ADQ' 'ANC' 'BET' 'BRW'
 'SCC' 'FAI' 'KTN' 'JNU' 'SIT' 'WRG' 'PSG' 'OME' 'OTZ' 'LCH' 'LCK' 'HTS'
 'GUC' 'SPS' 'COU' 'BPT' 'DRO' 'GUM' 'SPN' 'SCK' 'PVU' 'RFD' 'GCK' 'STC'
 'SMX' 'YAK' 'CDV' 'ADK' 'HGR' 'OWB' 'OGS' 'PPG' 'OGD' 'LYH']
[10397 11193 11778 13487 12953 10685 11267 11433 14524 11618 10208 13795
 11953 11624 11203 10868 13277 10693 13029 15380 14108 10599 10434 12884
 15412 14122 12451 12007 10721 13485 12478 11423 11612 13230 13871 10431
 14814 12323 11617 12003 14492 12945 10135 14730 13577 14321 15096 11150
 11537 12217 15370 11977 15249 11146 15323 12992 11986 12339 11973 11995
 10980 12264 12448 14576 15304 11042 10185 10792 10990 10821 10785 12206
 14098 10994 13931 14685 14683 12892 14831 11298 13930 14747 14107 13303
 14100 14771 15016 11057 14843 11278 13204 15376 10257 11697 10423 11503
 12173 13830 12266 12889 12758 13495 14679 14057 10713 10408 14960 14869
 11638 12441 13198 14193 11540 14908 10140 11996 11292 14570 13296 10136
 11415 11066 10620 11049 10268 15048 14783 11003 11140 11982 10469 15411
 15919 11637 13256 10279 13502 12891 10874 10155 12951 13244 10781 11775
 10666 14082 10627 13264 14761 11823 12917 14696 14112 14314 15295 10581
 15624 14025 14252 14986 14262 11603 11898 10676 10466 12265 14307 12544
 13367 12197 13360 11252 11641 13422 10529 10361 12244 14027 12954 13796
 14893 14635 13933 15027 13891 10800 15070 12191 10732 14254 15024 12915
 11481 13377 13851 12278 13061 14689 15356 11109 14259 12391 13342 10849
 12982 12402 12124 12898 10158 11695 12511 10372 12094 14489 11921 16218
 10747 11721 10561 13290 14588 14674 14794 11233 13241 14109 11259 14698
 13476 15023 11884 14633 15607 13184 12156 13433 11648 11308 15041 10146
 11577 10731 14457 12335 13076 11587 14711 11337 12280 13232 12389 13486
 14574 11468 13121 14802 14877 12255 10558 13344 15454 10967 11027 14288
 12902 11076 11471 14006 14952 14543 15582 11092 12519 11447 12888 11865
 12899 14237 13158 10157 13388 14487 13964 11097 13127 14113 10141 10333
 10631 11122 10739 10779 10918 11013 13459 11525 12397 12129 10577 15389
 14150 14520 12343 15401 14842 11905 11067 11274 11867 11980 12896 10299
 10551 10170 14709 10754 11630 12819 12523 14828 14256 15841 13873 13970
 14716 12012 15074 10728 11413 12016 14955 14512 12223 11111 12177 14905
 15008 15991 10926 10165 12119 13983 13832 14222 13829 13139]
[1039707 1119302 1177801 1348702 1295304 1068502 1126702 1143302 1452401
 1161802 1020803 1379502 1195302 1162402 1120302 1086803 1327702 1069302
 1302902 1538005 1410803 1059904 1043405 1288403 1541205 1412202 1245102
 1200704 1072102 1348502 1247805 1142307 1161206 1323002 1387102 1043105
 1481402 1232305 1161708 1200305 1449202 1294503 1013505 1473003 1357702
 1432105 1509602 1115005 1153705 1221702 1537002 1197705 1524906 1114606
 1532305 1299206 1198603 1233904 1197302 1199502 1098002 1226402 1244807
 1457606 1530402 1104205 1018502 1079206 1099005 1082106 1078502 1220605
 1409803 1099402 1393102 1468502 1468305 1289208 1483106 1129806 1393007
 1474703 1410702 1330303 1410005 1477104 1501606 1105703 1484306 1127805
 1320402 1537604 1025702 1169706 1042302 1150305 1217305 1383002 1226603
 1288903 1275804 1349505 1467903 1405702 1071302 1040805 1496002 1486903
 1163807 1244102 1319801 1419306 1154005 1490803 1014005 1199603 1129202
 1457002 1329604 1013603 1141501 1106606 1062003 1104902 1026802 1504803
 1478302 1100303 1114008 1198202 1046902 1541106 1591904 1163703 1325602
 1027903 1350202 1289102 1087402 1015502 1295106 1324402 1078105 1177502
 1066602 1408202 1062702 1326403 1476106 1182304 1291703 1469608 1411206
 1431402 1529502 1058102 1562404 1402501 1425202 1498603 1426204 1160302
 1189802 1067602 1046602 1226505 1430705 1254403 1336705 1219702 1336003
 1125203 1164102 1342202 1052906 1036105 1224403 1402702 1295407 1379608
 1489302 1463502 1393305 1502704 1389101 1080003 1507002 1219102 1073203
 1425404 1502403 1291503 1148102 1337702 1385103 1227805 1306106 1468902
 1535602 1110902 1425902 1239103 1334207 1084905 1298202 1240203 1212402
 1289806 1015804 1169502 1251103 1037205 1209402 1448902 1192102 1621802
 1074706 1172105 1056103 1329002 1458804 1467402 1479405 1123302 1324102
 1410902 1125904 1469802 1347605 1502305 1188402 1463303 1560702 1318403
 1215605 1343302 1164802 1130802 1504102 1014602 1157706 1073103 1445702
 1233502 1307605 1158702 1471105 1133703 1228002 1323202 1238902 1348602
 1457405 1146802 1312102 1480202 1487706 1225502 1055803 1334403 1545405
 1096702 1102705 1428805 1290205 1107602 1147103 1400602 1495203 1454303
 1558203 1109203 1251902 1144705 1288802 1186502 1289902 1423705 1315805
 1015706 1338801 1448702 1396403 1109702 1312702 1411302 1014106 1033302
 1063104 1112205 1073907 1077902 1091802 1101303 1345903 1152505 1239702
 1212903 1057705 1538902 1415002 1452002 1234305 1540103 1484202 1190502
 1106702 1127402 1186703 1198002 1289607 1029906 1055102 1017004 1470904
 1075405 1163002 1281902 1252306 1482805 1425605 1584102 1387305 1397005
 1471602 1201205 1507402 1072804 1141306 1201602 1495503 1451202 1222305
 1111105 1217705 1490505 1500803 1599102 1092603 1016506 1211902 1398305
 1383205 1422206 1382902 1313902]
['ATL' 'CVG' 'FSM' 'MSP' 'LGA' 'BMI' 'DAY' 'DTW' 'RIC' 'EWR' 'AGS' 'OAJ'
 'GNV' 'EYW' 'CWA' 'CAE' 'MGM' 'BNA' 'LNK' 'TVC' 'PIA' 'BHM' 'AVP' 'LAN'
 'TYS' 'PIT' 'JAX' 'GTR' 'BOS' 'MSN' 'JFK' 'DSM' 'EVV' 'MDT' 'OMA' 'AVL'
 'SHV' 'ILM' 'EWN' 'GTF' 'RDU' 'LEX' 'ABE' 'SDF' 'MYR' 'PWM' 'SYR' 'CSG'
 'ELM' 'HSV' 'TUL' 'GRB' 'TLH' 'CRW' 'TRI' 'LIT' 'GRR' 'IND' 'GPT' 'GSO'
 'CHA' 'IAD' 'JAN' 'ROC' 'TPA' 'CLE' 'AEX' 'BUF' 'CHO' 'BWI' 'BTV' 'HRL'
 'PHF' 'CHS' 'ORF' 'SAV' 'SAT' 'LAX' 'SJC' 'DFW' 'ORD' 'SEA' 'PHX' 'MIA'
 'PHL' 'SFO' 'STL' 'CLT' 'SJU' 'DCA' 'MCO' 'TUS' 'ALB' 'FLL' 'AUS' 'EGE'
 'HNL' 'OGG' 'IAH' 'LAS' 'KOA' 'MSY' 'SAN' 'PDX' 'BOI' 'ATW' 'SPS' 'SLC'
 'FAT' 'JAC' 'MCI' 'PNS' 'ELP' 'SNA' 'ABQ' 'GSP' 'DEN' 'RNO' 'MHT' 'ABI'
 'DRT' 'CMH' 'BIL' 'CLL' 'ALO' 'SUX' 'SGF' 'CID' 'CRP' 'GRK' 'AZO' 'TYR'
 'XNA' 'FAR' 'MFE' 'AMA' 'MTJ' 'LAW' 'CAK' 'ACT' 'LFT' 'MEM' 'BTR' 'FSD'
 'BLI' 'PGD' 'BIS' 'MFR' 'SFB' 'FWA' 'LCK' 'SBN' 'PIE' 'PVU' 'TOL' 'BGR'
 'VPS' 'PBG' 'PSC' 'SRQ' 'PSP' 'EUG' 'GFK' 'BLV' 'AZA' 'IAG' 'PVD' 'USA'
 'MLI' 'HPN' 'MLB' 'DAB' 'FAY' 'MOB' 'BDL' 'ART' 'HVN' 'PBI' 'LGB' 'OAK'
 'SMF' 'RSW' 'ORH' 'STX' 'ONT' 'BUR' 'SWF' 'HOU' 'BQN' 'PSE' 'STT' 'LCH'
 'ECP' 'MLU' 'OKC' 'ICT' 'LRD' 'SBA' 'TTN' 'COS' 'PSM' 'ISP' 'MKE' 'BZN'
 'LIH' 'ITO' 'HHH' 'LBE' 'ACY' 'FLG' 'JLN' 'ASE' 'HDN' 'RDM' 'GJT' 'YUM'
 'BRO' 'FNT' 'BFL' 'MHK' 'ROW' 'SAF' 'SGU' 'CYS' 'MEI' 'PIB' 'DAL' 'SBP'
 'MRY' 'STS' 'GEG' 'RST' 'VLD' 'MBS' 'HLN' 'MOT' 'FCA' 'DHN' 'SUN' 'ABY'
 'ERI' 'BQK' 'RAP' 'IMT' 'LSE' 'ESC' 'SCE' 'DLH' 'IDA' 'MDW' 'ISN' 'MSO'
 'ROA' 'EAR' 'LWB' 'SHD' 'SLN' 'HYS' 'BFF' 'MKG' 'UIN' 'CGI' 'CKB' 'PUB'
 'LBL' 'CMX' 'EAU' 'PAH' 'SPI' 'RKS' 'VEL' 'CNY' 'JMS' 'DVL' 'LAR' 'GCC'
 'LBF' 'PRC' 'MAF' 'ACV' 'MMH' 'RDD' 'OTH' 'COD' 'LWS' 'PIH' 'ABR' 'APN'
 'BJI' 'CPR' 'BRD' 'BTM' 'CDC' 'CIU' 'MQT' 'EKO' 'ITH' 'HIB' 'BGM' 'TWF'
 'PLN' 'RHI' 'INL' 'TXK' 'SJT' 'GGG' 'CMI' 'DBQ' 'GCK' 'GRI' 'LBB' 'ANC'
 'BET' 'ADQ' 'SCC' 'BRW' 'FAI' 'KTN' 'JNU' 'SIT' 'PSG' 'WRG' 'OME' 'OTZ'
 'SCK' 'GUC' 'SWO' 'BPT' 'DRO' 'GUM' 'SPN' 'RFD' 'HTS' 'COU' 'HOB' 'SMX'
 'STC' 'YAK' 'CDV' 'ADK' 'HGR' 'OWB' 'OGS' 'PPG' 'OGD' 'LYH']
[ 601. 1359. 1215. ...  232.  415.  336.]
[ 0.  1. nan]
['0600-0659' '1400-1459' '1200-1259' '1500-1559' '1900-1959' '0900-0959'
 '1000-1059' '2000-2059' '1300-1359' '1100-1159' '0800-0859' '2200-2259'
 '1600-1659' '1700-1759' '2100-2159' '0700-0759' '1800-1859' '0001-0559'
 '2300-2359']
[ 722. 1633. 1329. ...  342.  305.  326.]
[ 0.  1. nan]
[0. 1.]
[0. 1.]
[ 300.  596.  229. ...  824.  898. 1479.]

In [44]:
#problem 5 :another solution
flight_df_col = pd.DataFrame(columns = ['column', 'values', 'values_count_incna', 'values_count_nona', 
                                       'num_miss', 'pct_miss'])
tmp = pd.DataFrame()

for c in flight_df.columns:
    tmp['column'] = [c]
    tmp['values'] = [flight_df[c].unique()]
    tmp['values_count_incna'] = len(list(flight_df[c].unique()))
    tmp['values_count_nona'] = int(flight_df[c].nunique())
    tmp['num_miss'] = flight_df[c].isnull().sum()
    tmp['pct_miss'] = (flight_df[c].isnull().sum()/ len(flight_df)).round(3)*100
    flight_df_col = flight_df_col.append(tmp)
    
flight_df_col

                  column                                             values values_count_incna values_count_nona num_miss  pct_miss
0           DAY_OF_MONTH  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...                 31                31        0       0.0
0            DAY_OF_WEEK                              [2, 3, 4, 5, 6, 7, 1]                  7                 7        0       0.0
0      OP_UNIQUE_CARRIER  [9E, AA, MQ, G4, OH, B6, YV, EV, F9, YX, HA, N...                 17                17        0       0.0
0  OP_CARRIER_AIRLINE_ID  [20363, 19805, 20398, 20368, 20397, 20409, 203...                 17                17        0       0.0
0             OP_CARRIER  [9E, AA, MQ, G4, OH, B6, YV, EV, F9, YX, HA, N...                 17                17        0       0.0
0               TAIL_NUM  [N8688C, N348PQ, N8896A, N8886A, N8974C, N927E...               5447              5446     2543       0.4
0      OP_CARRIER_FL_NUM  [3280, 3281, 3282, 3283, 3284, 3285, 3286, 328...               6839              6839        0       0.0
0      ORIGIN_AIRPORT_ID  [11953, 13487, 11433, 15249, 10397, 11267, 124...                346               346        0       0.0
0  ORIGIN_AIRPORT_SEQ_ID  [1195302, 1348702, 1143302, 1524906, 1039707, ...                346               346        0       0.0
0                 ORIGIN  [GNV, MSP, DTW, TLH, ATL, DAY, JAN, LGA, JAX, ...                346               346        0       0.0
0        DEST_AIRPORT_ID  [10397, 11193, 11778, 13487, 12953, 10685, 112...                346               346        0       0.0
0    DEST_AIRPORT_SEQ_ID  [1039707, 1119302, 1177801, 1348702, 1295304, ...                346               346        0       0.0
0                   DEST  [ATL, CVG, FSM, MSP, LGA, BMI, DAY, DTW, RIC, ...                346               346        0       0.0
0               DEP_TIME  [601.0, 1359.0, 1215.0, 1521.0, 1847.0, 853.0,...               1439              1438    16352       2.8
0              DEP_DEL15                                    [0.0, 1.0, nan]                  3                 2    16355       2.8
0           DEP_TIME_BLK  [0600-0659, 1400-1459, 1200-1259, 1500-1559, 1...                 19                19        0       0.0
0               ARR_TIME  [722.0, 1633.0, 1329.0, 1625.0, 1940.0, 953.0,...               1441              1440    17061       2.9
0              ARR_DEL15                                    [0.0, 1.0, nan]                  3                 2    18022       3.1
0              CANCELLED                                         [0.0, 1.0]                  2                 2        0       0.0
0               DIVERTED                                         [0.0, 1.0]                  2                 2        0       0.0
0               DISTANCE  [300.0, 596.0, 229.0, 223.0, 579.0, 574.0, 341...               1451              1451        0       0.0

In [42]:
#problem 6.1: Flights delay on the basis of departure time.
dep_delay=flight_df.groupby('DEP_DEL15').count()[['DEP_TIME','OP_CARRIER_AIRLINE_ID']]
print("Flight delay:",dep_delay)

Flight delay:            DEP_TIME  OP_CARRIER_AIRLINE_ID
DEP_DEL15
0.0          468703                 468703
1.0           98927                  98927

In [43]:
#problem 6.2: Flights delay on the basis of arrival time.
arr_delay=flight_df.groupby('ARR_DEL15').count()[['ARR_TIME','OP_CARRIER_AIRLINE_ID']]
print("Flight delay:",arr_delay)

Flight delay:            ARR_TIME  OP_CARRIER_AIRLINE_ID
ARR_DEL15
0.0          460741                 460741
1.0          105222                 105222

In [46]:
# Problem 7: How many flights are cancelled
cancel_flight=flight_df.groupby('TAIL_NUM	').count()[['CANCELLED']]
cancel_flight

KeyError: ignored